<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MZUI</title>

<!-- MZUI CSS file -->
<link href="assets/mzui/css/mzui.min.css" rel="stylesheet">

<link href="assets/css/carousel.css" rel="stylesheet">
</head>
<body class="with-heading-top">

	<header class="heading affix dock-top">
		<div class="title text-center">
			<strong>4S店</strong>
		</div>
	</header>
	<div class="list section">
		<a class="item with-avatar multi-lines">
			<div class="avatar circle">
				<img src="assets/img/avatar.png" alt="">
			</div>
			<div class="content">
				<div class="title">
					南京奥迪金牌1号4S店 <span class="pull-right">8.0折起</span>
				</div>
				<div class="subtitle">
					江苏省南京市玄武区xx路100号<span class="pull-right">20km</span>
				</div>

			</div>
		</a> <a class="item with-avatar multi-lines">
			<div class="avatar circle">
				<img src="assets/img/avatar.png" alt="">
			</div>
			<div class="content">
				<div class="title">
					南京奥迪金牌1号4S店 <span class="pull-right">8.0折起</span>
				</div>
				<div class="subtitle">
					江苏省南京市玄武区xx路100号<span class="pull-right">20km</span>
				</div>

			</div>
		</a> <a class="item with-avatar multi-lines">
			<div class="avatar circle">
				<img src="assets/img/avatar.png" alt="">
			</div>
			<div class="content">
				<div class="title">
					南京奥迪金牌1号4S店 <span class="pull-right">8.0折起</span>
				</div>
				<div class="subtitle">
					江苏省南京市玄武区xx路100号<span class="pull-right">20km</span>
				</div>

			</div>
		</a>
		<div class="divider"></div>

		<nav class="nav justified pager">
			<a class="pager-more"><span>已显示 <strong>20</strong> 项，共 <strong>57</strong> 项 &nbsp; <span class="text-link">显示更多 <i
						class="icon icon-double-angle-down"></i></span></span></a>
		</nav>
	</div>
	<nav class="nav nav-auto affix dock-bottom justified">
		<a href="/">首页</a> <a href="/store4s" class="success strong">4S店</a> <a href="/my">我的</a>
	</nav>

	<!-- MZUI JS file -->
	<script src="assets/mzui/js/mzui.min.js"></script>
</body>
</html>