<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="/">
<title>MZUI</title>

<!-- MZUI CSS file -->
<link href="assets/mzui/css/mzui.min.css" rel="stylesheet">


</head>
<body>
	<header class="heading affix dock-top">
		<nav class="nav">
			<a><i class="icon-bars"></i></a>
		</nav>
		<div class="title text-center">
			<strong>订单列表</strong>
		</div>
		<nav class="nav">
			<a><i class="icon-search"></i></a>
		</nav>
	</header>

	<div class="loading loading-light" id="pageLoading"></div>
	<div id="content" class="section" style="margin-top: 2rem;">
		<div class="list">
			<a class="item multi-lines with-avatar">
				<div class="avatar circle red outline">1</div>
				<div class="content">
					<span class="title">为响应式开发增加更多的内容</span>
					<div>
						<small class="text-green">#新增功能</small>&nbsp; <small class="muted">今天 20:00</small>
						<div class="pull-right label red-pale text-tint">进行中</div>
					</div>
				</div>
			</a> <a class="item multi-lines with-avatar">
				<div class="avatar circle yellow outline">2</div>
				<div class="content">
					<span class="title">增加更多的场景示例</span>
					<div>
						<small class="text-blue">#文档</small>&nbsp; <small class="muted">今天 18:00</small>
						<div class="pull-right label blue-pale text-tint">未开始</div>
					</div>
				</div>
			</a> <a class="item multi-lines with-avatar">
				<div class="avatar circle yellow outline">2</div>
				<div class="content">
					<span class="title">增加轮播</span>
					<div>
						<small class="text-green">#新增功能</small>&nbsp; <small class="muted">今天 12:00</small>
						<div class="pull-right label blue-pale text-tint">未开始</div>
					</div>
				</div>
			</a> <a class="item multi-lines with-avatar">
				<div class="avatar circle purple outline">3</div>
				<div class="content">
					<span class="title">处理 Bug 列表</span>
					<div>
						<small class="text-red">#BUG</small>&nbsp; <small class="muted">今天 12:00</small>
						<div class="pull-right label blue-pale text-tint">未开始</div>
					</div>
				</div>
			</a>
		</div>
		<div class="divider"></div>
		<nav class="nav justified pager">
			<a class="pager-more" onClick="loadMore()"><span>已显示 <strong>20</strong> 项，共 <strong>57</strong> 项 &nbsp; <span class="text-link">显示更多 <i
						class="icon icon-double-angle-down"></i></span></span></a>
		</nav>
	</div>
	<!-- MZUI JS file -->
	<script src="assets/mzui/js/mzui.min.js"></script>
	<script src="assets/dropload/dropload.min.js"></script>
	<script type="text/javascript">
	var loadMore=function(){
		$.post('/member/order/page', {
			sample : 'payload'
		}, function(response) {
			// process response
			var result="<a class=\"item multi-lines with-avatar\">\
			<div class=\"avatar circle purple outline\">3</div>\
			<div class=\"content\">\
				<span class=\"title\">处理 Bug 列表</span>\
				<div>\
					<small class=\"text-red\">#BUG</small>&nbsp; <small class=\"muted\">今天 12:00</small>\
					<div class=\"pull-right label blue-pale text-tint\">未开始</div>\
				</div>\
			</div>\
		</a>";
		result=result+"<a class=\"item multi-lines with-avatar\">\
			<div class=\"avatar circle purple outline\">3</div>\
			<div class=\"content\">\
				<span class=\"title\">处理 Bug 列表</span>\
				<div>\
					<small class=\"text-red\">#BUG</small>&nbsp; <small class=\"muted\">今天 12:00</small>\
					<div class=\"pull-right label blue-pale text-tint\">未开始</div>\
				</div>\
			</div>\
		</a>";
		result=result+"<a class=\"item multi-lines with-avatar\">\
		<div class=\"avatar circle purple outline\">3</div>\
		<div class=\"content\">\
			<span class=\"title\">处理 Bug 列表</span>\
			<div>\
				<small class=\"text-red\">#BUG</small>&nbsp; <small class=\"muted\">今天 12:00</small>\
				<div class=\"pull-right label blue-pale text-tint\">未开始</div>\
			</div>\
		</div>\
	</a>";
			$('.list').append(result);
		});
	}
		
    var dropload = $('#content').dropload({
        domUp : {
            domClass   : 'dropload-up',
            domRefresh : '<div class="dropload-refresh">↓下拉刷新</div>',
            domUpdate  : '<div class="dropload-update">↑释放更新</div>',
            domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
        },
        domDown : {
            domClass   : 'dropload-down',
            domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
            domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
            domNoData  : '<div class="dropload-noData">暂无数据</div>'
        },
        loadUpFn : function(me){
            $.ajax({
                type: 'GET',
                url: '/member/order/page',
                dataType: 'json',
                success: function(data){
                    var result = '';
                    /* for(var i = 0; i < data.lists.length; i++){
                    	
                    } */
                    result+="<a class=\"item multi-lines with-avatar\">\
                		<div class=\"avatar circle purple outline\">3</div>\
                		<div class=\"content\">\
                			<span class=\"title\">处理 Bug 列表</span>\
                			<div>\
                				<small class=\"text-red\">#BUG</small>&nbsp; <small class=\"muted\">今天 12:00</small>\
                				<div class=\"pull-right label blue-pale text-tint\">未开始</div>\
                			</div>\
                		</div>\
                	</a>";
                    // 为了测试，延迟1秒加载
                    setTimeout(function(){
                        $('.list').html(result);
                        // 每次数据加载完，必须重置
                        dropload.resetload();
                    },1000);
                },
                error: function(xhr, type){
                    alert('Ajax error!');
                    // 即使加载出错，也得重置
                    dropload.resetload();
                }
            });
        },
        loadDownFn : function(me){
            $.ajax({
                type: 'GET',
                url: '/member/order/page',
                dataType: 'json',
                success: function(data){
                    var result = '';
                    /* for(var i = 0; i < data.lists.length; i++){
                       
                    } */
                    result +=  "<a class=\"item multi-lines with-avatar\">\
                		<div class=\"avatar circle purple outline\">3</div>\
                		<div class=\"content\">\
                			<span class=\"title\">处理 Bug 列表</span>\
                			<div>\
                				<small class=\"text-red\">#BUG</small>&nbsp; <small class=\"muted\">今天 12:00</small>\
                				<div class=\"pull-right label blue-pale text-tint\">未开始</div>\
                			</div>\
                		</div>\
                	</a>";
                    // 为了测试，延迟1秒加载
                    setTimeout(function(){
                        $('.list').append(result);
                        // 每次数据加载完，必须重置
                        dropload.resetload();
                    },1000);
                },
                error: function(xhr, type){
                    alert('Ajax error!');
                    // 即使加载出错，也得重置
                    dropload.resetload();
                }
            });
        }
    });
		
		
	</script>
</body>
</html>