<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="../../META-INF/" th:href="@{/}"/>
    <title>首页</title>

    <link href="assets/plugins/mui/css/mui.min.css" rel="stylesheet">
</head>
<body>
<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
    <h1 class="mui-title">养车</h1>
    <a  href="garage" class="mui-pull-right mui-btn-link"><img src="/assets/img/car.png" style="width: 2.5rem;"></a>
</header>


<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item mui-active" href="/index">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" href="/order">
        <span class="mui-icon mui-icon-order"><span class="mui-badge">9</span></span>
        <span class="mui-tab-label">订单</span>
    </a>
    <a class="mui-tab-item" href="#card">
        <span class="mui-icon mui-icon-contact"></span>
        <span class="mui-tab-label">卡券</span>
    </a>
    <a class="mui-tab-item" href="/my">
        <span class="mui-icon mui-icon-gear"></span>
        <span class="mui-tab-label">我的</span>
    </a>
</nav>
<script src="assets/plugins/mui/js/mui.min.js"></script>

<script type="text/javascript">
    var base = "[[${#httpServletRequest.getContextPath()}]]";
    mui.init();
</script>
</body>
</html>