<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="../../META-INF/" th:href="@{/}"/>
    <title>我的</title>

    <link href="assets/plugins/mui/css/mui.min.css" rel="stylesheet">
</head>
<body>
<section class="my-messge borderb">
    <div class="my-messge-box">
        <div class="mes-top"><span class="circle"><span><img src="images/nologin.png"></span></span></div>
        <div class="mes-bottom"><p class="font15"></p>
            <p class="font12 light-color">13655177723</p></div>
    </div>
</section>
<div class="mui-content">
    <div class="title">
        这是webview模式选项卡中的第4个子页面，该页面展示一个常见的设置示例
    </div>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right">
                新消息通知
            </a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right">
                隐私
            </a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right">
                通用
            </a>
        </li>
    </ul>
    <ul class="mui-table-view" style="margin-top: 25px;">
        <li class="mui-table-view-cell">
            <a id="about" class="mui-navigate-right">
                关于mui
            </a>
        </li>
    </ul>
    <ul class="mui-table-view" style="margin-top: 25px;">
        <li class="mui-table-view-cell">
            <a style="text-align: center;color: #FF3B30;" class="">
                退出登录
            </a>
        </li>
    </ul>
</div>
<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item " href="/index">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-chat">
        <span class="mui-icon mui-icon-order"><span class="mui-badge">9</span></span>
        <span class="mui-tab-label">消息</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-contact">
        <span class="mui-icon mui-icon-contact"></span>
        <span class="mui-tab-label">通讯录</span>
    </a>
    <a class="mui-tab-item mui-active" href="#/my">
        <span class="mui-icon mui-icon-gear"></span>
        <span class="mui-tab-label">设置</span>
    </a>
</nav>
<script>
    mui.init();
</script>
</body>
</html>