<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

	<footer th:fragment="footer">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div id="footer">
					<div class="footerNav">
						<a rel="nofollow" href="about">关于我们</a> | <a rel="nofollow" href="#">服务条款</a> | <a rel="nofollow" href="#">免责声明</a> | <a
							rel="nofollow" href="#">网站地图</a> | <a rel="nofollow" href="contact">联系我们</a>
					</div>
					<div class="copyRight">Copyright ©2010-2014 版权所有</div>
				</div>

			</div>
		</div>
	</footer>

</body>

</html>