<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<base href="../../../" th:href="@{/}" />

<link rel="icon" href="../../favicon.ico">

<title>艾尔里</title>

<!-- Bootstrap core CSS -->
<link href="assets/plugins/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/plugins/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="assets/js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- Custom styles for this template -->
<link href="assets/css/navbar-fixed-top.css" rel="stylesheet">
<link href="assets/css/app.css" rel="stylesheet">
<link href="assets/css/carousel.css" rel="stylesheet">
</head>

<body>
	<div class="navbar-wrapper" th:fragment="navbar (navindex)">
		<div class="container">
			<!-- Fixed navbar -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#" th:text="#{site.name}">艾尔里</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li th:class="${navindex=='index'}? 'active' : ''"><a href="/" th:href="@{/}" th:text="#{navbar.home}">首页</a></li>
							<li th:class="${navindex=='news'}? 'active' : ''"><a href="news" th:text="#{navbar.news}">最新新闻</a></li>
							<li th:class="${navindex=='about'}? 'active' : ''"><a href="about" th:text="#{navbar.about}">关于我们</a></li>
							<li th:class="${navindex=='contact'}? 'active' : ''"><a href="contact" th:text="#{navbar.contact}">联系我们</a></li>
							<li th:class="${navindex=='product'}? 'active dropdown' : 'dropdown'" class=""><a href="#" class="dropdown-toggle" data-toggle="dropdown"
								th:text="#{navbar.product}">产品 <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li th:class="${navindex=='product'}? 'active' : ''"><a href="product">产品一</a></li>
									<li><a href="#">产品一</a></li>
									<li><a href="#">产品一</a></li>
									<li class="divider"></li>
									<li class="dropdown-header">产品系列一</li>
									<li><a href="#">产品一</a></li>
									<li><a href="#">产品一</a></li>
								</ul></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="signin.html" >登录</a></li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</nav>
		</div>
	</div>

	<!-- Carousel
    ================================================== -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel" th:fragment="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li th:each="carousel,carouselStat:${carouseList}" data-target="#myCarousel" data-slide-to="0" th:data-slide-to=${carouselStat.index}
				class="active" th:class="${carouselStat.index==0}? 'active' : ''"></li>
			<li data-target="#myCarousel" data-slide-to="1" th:if="${ #lists.isEmpty(carouseList)}"></li>
			<li data-target="#myCarousel" data-slide-to="2" th:if="${ #lists.isEmpty(carouseList)}"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active" th:each="carousel,carouselStat:${carouseList}" th:class="${carouselStat.index==0}? 'item active' : 'item'" >
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" th:src="${carousel.path}" alt="First slide">
				<div class="container">
					<div class="carousel-caption">
						<h1 th:text="${carousel.title}">Example headline.</h1>
						<p th:text="${carousel.content}">
							Note: If you're viewing this page via a
							<code>file://</code>
							URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
						</p>
						<p>
							<a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
						</p>
					</div>
				</div>
			</div>
			<div class="item" th:if="${ #lists.isEmpty(carouseList)}">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
				<div class="container">
					<div class="carousel-caption">
						<h1>Another example headline.</h1>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
							ultricies vehicula ut id elit.</p>
						<p>
							<a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
						</p>
					</div>
				</div>
			</div>
			<div class="item" th:if="${ #lists.isEmpty(carouseList)}">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
				<div class="container">
					<div class="carousel-caption">
						<h1>One more for good measure.</h1>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
							ultricies vehicula ut id elit.</p>
						<p>
							<a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> <span
			class="sr-only">Previous</span>
		</a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> <span
			class="sr-only">Next</span>
		</a>
	</div>
	<!-- /.carousel -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="assets/plugins/jquery/3.1.1/jquery.min.js"></script>
	<script src="assets/plugins/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="assets/plugins/holder/holder.min.js"></script>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>