<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="../../META-INF/" th:href="@{/}"/>
    <title>养车</title>

    <link href="assets/plugins/mui/css/mui.min.css" rel="stylesheet">
</head>
<body>
<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 class="mui-title">我的车库</h1>
</header>
<section class="mui-content">

    <p class="font15 light-color" style="text-align: center">您的车库什么都没有哦！</p>

</section>
<footer class="mui-bar mui-bar-footer" style="background-color:#fc7944;">
    <a href="/garage/brand" class="mui-btn mui-btn-link mui-pull-center" style="width: 100%"><span style="color: white">增加爱车</span></a>
</footer>
<script src="assets/plugins/mui/js/mui.min.js"></script>
<script>mui.init();</script>
</body>
</html>