<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="../../META-INF/" th:href="@{/}"/>
    <title>养车</title>

    <link href="assets/plugins/mui/css/mui.min.css" rel="stylesheet">
</head>
<body>
<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 class="mui-title">选择车系</h1>
</header>
<section class="mui-content">
    <div class="mui-indexed-list-inner">
        <div class="mui-indexed-list-empty-alert"
             style="display: none;padding: 30px 15px;text-align: center;color: #ccc;padding-right: 45px;">没有数据
        </div>
        <ul class="mui-table-view">
            <li data-group="A" class="mui-table-view-divider mui-indexed-list-group">北京奔驰</li>
            <li data-value="AKU" data-tags="AKeSu" class="mui-table-view-cell mui-indexed-list-item">阿克苏机场</li>
            <li data-value="BPL" data-tags="ALaShanKou" class="mui-table-view-cell mui-indexed-list-item">阿拉山口机场</li>
            <li data-value="AAT" data-tags="ALeTai" class="mui-table-view-cell mui-indexed-list-item">阿勒泰机场</li>
            <li data-value="NGQ" data-tags="ALiKunSha" class="mui-table-view-cell mui-indexed-list-item">阿里昆莎机场</li>
            <li data-value="AQG" data-tags="AnQingTianZhuShan" class="mui-table-view-cell mui-indexed-list-item">
                安庆天柱山机场
            </li>
            <li data-value="MFM" data-tags="AoMenGuoJi" class="mui-table-view-cell mui-indexed-list-item">澳门国际机场</li>
            <li data-group="B" class="mui-table-view-divider mui-indexed-list-group">福建奔驰</li>
            <li data-value="BSD" data-tags="BaoShan" class="mui-table-view-cell mui-indexed-list-item">保山机场</li>
            <li data-value="BAV" data-tags="BaoTou" class="mui-table-view-cell mui-indexed-list-item">包头机场</li>
            <li data-value="BHY" data-tags="BeiHaiFuCheng" class="mui-table-view-cell mui-indexed-list-item">北海福成机场</li>
            <li data-value="NAY" data-tags="BeiJingNanYuan" class="mui-table-view-cell mui-indexed-list-item">北京南苑机场
            </li>
            <li data-value="PEK" data-tags="BeiJingShouDuGuoJi" class="mui-table-view-cell mui-indexed-list-item">
                北京首都国际机场
            </li>
            <li data-group="C" class="mui-table-view-divider mui-indexed-list-group">奔驰</li>
            <li data-value="NBS" data-tags="ChangBaiShan" class="mui-table-view-cell mui-indexed-list-item">长白山机场</li>
            <li data-value="CGQ" data-tags="ChangChunLongJiaGuoJi" class="mui-table-view-cell mui-indexed-list-item">
                长春龙嘉国际机场
            </li>
            <li data-value="CGD" data-tags="ChangDeTaoHuaYuan" class="mui-table-view-cell mui-indexed-list-item">
                常德桃花源机场
            </li>
            <li data-value="BPX" data-tags="ChangDuBangDa" class="mui-table-view-cell mui-indexed-list-item">昌都邦达机场</li>

        </ul>
    </div>
    </div>


</section>
<script src="assets/plugins/mui/js/mui.min.js"></script>
<script>mui.init();
mui.ready(function () {
    mui('.mui-table-view').on('tap', '.mui-table-view-cell', function () {
//获取id
        var id = this.getAttribute("data-value");
        //传值给详情页面，通知加载新数据
        //mui.fire(detail, 'getDetail', {id: id});
        //打开新闻详情
        mui.openWindow({
            id: 'detail',
            url: 'garage/type/111.html'
        });
    });
    mui('li.mui-table-view-cell').each(function () {
        console.log(this);
    });

});</script>
</body>
</html>